.task_container{
    margin-left: 18rem;
    margin-top: 2rem;
}

.task_aboveLine{
margin-right: 10rem;
}

.task__above{
    display: flex;
}

.task_line_select{
    margin-top: 2rem;    
}

.task_abovedrodown select{
    width: 10rem;
    height: 2.5rem;
    border-radius: 15px;
    padding-left: 1rem;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid #ececec;
    color: #4f4d4d;
  }
  
  .task_datepicker{
    width: 10rem;
    height: 2.5rem;
    border-radius: 15px;
    padding-left: 1rem;
    font-size: 15px;
    font-weight: 700;
    border: 2px solid #ececec;
    color: #4f4d4d;
  }


.task_partrunning{
    margin-top: 3rem;
}

.task_Add_input{    
    background-color: var(--color-grey);
    height: 4rem;
    width: fit-content;
    padding: 16px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.task_Add_input input{
    padding-left: 8px;
}

.task_inp{
    border: 2px solid var(--color-orange);
    border-radius: 10px;
    height: 2rem;
}

.task_qty_container{
    margin-top: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task_symbol{
    margin-left: 2rem;
    margin-right: 2rem;
}

.task_num{
    font-weight: 700;
}

.task_add_button{
    margin-left: 4rem;
}

.task_add_button button{
    width: 9rem;
    color: white;
    background-color: var(--color-green);
    border: none;
    cursor: pointer;
    height: 2rem;
    border-radius: 10px;
    font-size: 16px;
}



.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .task_data{
    /* margin-left: 15rem; */
    display: flex;
    flex-wrap: wrap;
  }


  .task__container{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

.task_checkbox{
    width: 30px;
    height: 30px;
}

