.charts_main{
    margin-left: 15rem;
}
.weekly-average-graph {
    /* width: 100%;
    max-width: 600px;
    margin: 0 auto; */
    margin-left: 15rem;
}

.chart-container {
    width: 600px; /* Decrease the width as needed */
    height: 300px; /* Decrease the height as needed */
  }
  .chart-containers {
    width: 600px; /* Decrease the width as needed */
    height: 300px; /* Decrease the height as needed */
  }